.list {
    padding: 8px 10px;
}

.header {
    border: {
        color: black;
        radius: 4px;
        style: solid;
        width: 1px;
    }
    display: flex;
    justify-content: stretch;
    margin-bottom: 4px;

    & > * {
        padding: 8px;
    }

    .image {
        width: 64px;
    }

    .info {
        flex: 1 0 auto;
    }

    .amount {
        width: 120px;
    }
}
