.modal {
    background-color: rgba(#000, 0.5);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;

    .content {
        align-self: center;
        background-color: #ffffff;
        border: {
            color: #000000;
            radius: 4px;
            style: solid;
            width: 1px;
        }
        min-width: 280px;
        padding: 8px;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
    }
}