.button {
    border: {
        color: #000000;
        radius: 4px;
        style: solid;
        width: 1px;
    }
    color: white;
    display: inline-block;
    line-height: 16px;
    padding: 8px;

    &.primary {
        background-color: rebeccapurple;
    }

    &.secondary {
        background-color: mediumpurple;
    }

    &.ghost {
        background-color: transparent;
        border: none;
        color: #000000;
    }
}