.tile {
    border: {
        color: #cecece;
        style: solid;
        width: 1px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &.small {
        height: 160px;
        width: 120px;
    }

    &.regular {
        height: 80px;
        width: 64px;
    }

    &.large {
        height: 96px;
        width: 80px;
    }

    & > .image {
        height: calc(100% - 32px);
        padding: 4px;
        width: 100%;
    }
}